# docker setup 
ENVIRONMENT=runner
PG_USER=admin
PG_PASSWORD=admin
PG_DB_NAME=brimble

# backend
DATABASE_URL=postgresql://admin:admin@db:5432/brimble
DOCKER_NETWORK_NAME=brimble-net
APP_DOMAIN=localhost
CADDY_API=http://caddy:2019/config/apps/http/servers/srv0/routes


# frontend
VITE_BASE_URL=http://api.localhost
FRONTEND_PORT=80
