{
    # Global options
    admin 0.0.0.0:2019 # Allows your Backend to talk to Caddy's API 
}

# This handles the Frontend (Vite)
http://localhost {
    reverse_proxy frontend:{$FRONTEND_PORT:5173}
}

# This handles the Backend API
http://api.localhost {
    reverse_proxy backend:8000
}